spring:
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  application:
    name: StorageService
  datasource:
    url: jdbc:postgresql://db:5432/mydatabase
    username: postgres
    password: postgres
    hikari:
      data-source-properties:
        reWriteBatchedInserts: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      generate_statistics: true
      hibernate:
        format_sql: true
        use_sql_comments: true
        jdbc:
          batch_size: 50
          order_inserts: true
          order_updates: true
          batch_versioned_data: true
logging:
  level:
    root: INFO
    com.storage.storageservice.controller: INFO