networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
  redis-data:

services:
  zookeeper:
    image: zookeeper:3.9
    container_name: zookeeper
    hostname: zookeeper  # Фиксирует имя в DNS
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zookeeper:2888:3888;2181
      ZOO_4LW_COMMANDS_WHITELIST: "*"
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc localhost 2181 | grep imok"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  db:
    image: postgres:16.3
    shm_size: 1GB
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_SHARED_BUFFERS: 256MB
      POSTGRES_EFFECTIVE_CACHE_SIZE: 768MB
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d mydatabase"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  memcached:
    image: memcached:alpine3.17
    ports:
      - "11211:11211"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "11211"]
      interval: 30s
      timeout: 10s
      retries: 3
    command: ["-m", "64", "-v"]

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    environment:
      - SPRING_DATA_REDIS_HOST=redis  # Имя сервиса Redis в docker-compose
      - SPRING_DATA_REDIS_PORT=6379
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    command: redis-server --appendonly yes

  zoonavigator:
    image: elkozmon/zoonavigator:latest
    ports:
      - "9000:9000"
    environment:
      HTTP_PORT: 9000
      ZK_HOSTS: zookeeper:2181
    depends_on:
      zookeeper:
        condition: service_healthy
    networks:
      - app-network

  app:
    build: .
    ports:
      - "8080:8080"
      - "5005:5005"  # Пробрасываем порт дебаггера
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/mydatabase
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      MEMCACHED_HOST: memcached
      MEMCACHED_PORT: 11211
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      SPRING_CLOUD_ZOOKEEPER_CONNECT_STRING: zookeeper:2181
      # SPRING_PROFILES_ACTIVE: dev
    depends_on:
      db:
        condition: service_healthy
      memcached:
        condition: service_started
      redis:
        condition: service_healthy
      zookeeper:
        condition: service_healthy
    networks:
      - app-network

  proxy-service:
    build:
      context: ./proxy-service
    ports:
      - "8081:8081"
    environment:
      STORAGE_SERVICE_URL: "http://app:8080"
      MICRONAUT_SERVER_PORT: 8081
    depends_on:
      app:
        condition: service_started
    networks:
      - app-network

  springproxy:
    build:
      context: ./springproxy
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      STORAGE_SERVICE_URL: "http://app:8080"
      SERVER_PORT: 8083
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8083/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    depends_on:
      app:
        condition: service_started
    networks:
      - app-network
